.mainWrapper {
  max-width: 1440px;
  padding: 20px;
  margin: 0 auto;
}
.mainInfo {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.3em;
  span {
    font-weight: bold;
  }
  text-align: center;
}
