.selected {
  font-weight: bold;
  color: #007bff;
}

.paginator {
  cursor: pointer;
  color: #fff;
  margin-bottom: 30px;
  span {
    &:hover {
      color: #007bff;
      transition: 0.2s ease-out;
    }
  }
  display: flex;
  justify-content: center;
}
